/*Universal*/
html, body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: black;
    background-color: #f4f3e8;
    margin: 0;
}

/*Link*/
a {
    text-decoration: underline;
}

/*Hover*/
a:hover {
    text-decoration: none;
    color: #BF463B;
}