/* Universal */
html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Text styling */
p {
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 2em;
}

h2 {
    font-family: 'Space Mono', monospace;
}

/* Banner Text styling */
h1 {
    font-family: 'Space Mono', monospace;
}

.banner-block {
    font-size: 4rem;
    line-height: 2.5em;
    background-color: #f4f3e8;
    text-align: center;
}

/* Announcement Bar */
.announcement {
    display: flex;
    height: 2em;
    text-align: center;
    width: 100%;
    background: #F1FF9D;
    color: black;
    font-weight: 400;
    letter-spacing: 0.075rem;
    vertical-align: middle;
    font-size: 1rem;
    margin: auto;
    align-items:center;
    justify-content:center;
  }
  
  .announcement a { 
    color: black; 
  }
  
  .announcement a:hover {
    color: blue;
  }

/* Navigation Bar */
nav {
    margin: 0 2em;
    background-color: white;
    position: sticky;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 1.5em;
}
nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    /* border-bottom: 0.25em solid blue; */
}
nav ul li:first-child {
    margin-right: auto;
}

/* Banner */

/* Hover */
a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #E7E8FE;
}

/* Offering */
.offering-block {
    background-color: white;
    padding: 4rem;
}

/* Program */
.program-block {
    background-color: #f4f3e8;
    text-align: center;
    padding: 4rem;
}

/* Cost */
.cost-block {
    background-color: #f4f3e8;
    text-align: center;
    padding: 4rem;
}

/* Apply */
.apply-block {
    background-color: white;
    text-align: center;
    padding: 4rem;
}

/* Checkout */
.checkout-block {
    background-color: white;
    text-align: center;
    padding: 4rem;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 2rem;
}