/* Universal */
html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #23282e;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Text styling */
p {
    font-weight: 300;
    line-height: 1.5em;
}

h1, h2 {
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    margin: 0;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
}

.italic {
    font-style: italic;
}

/* Announcement Bar */
.announcement {
    display: flex;
    height: 2em;
    text-align: center;
    width: 100%;
    /* background: #FF5924; */
    background: #2b44ff;
    color: #23282e;
    vertical-align: middle;
    font-size: 1rem;
    margin: auto;
    align-items:center;
    justify-content:center;
  }
  
  .announcement a { 
    color: #23282e;
  }
  
  .announcement a:hover {
    color: white;
  }

/* Navigation Bar */
nav {
    background-color: #23282e;
    color: white;
    border-bottom: white solid 1px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 1.5em;
}
nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    /* border-bottom: 0.25em solid blue; */
}
nav ul li:first-child {
    margin-right: auto;
}

/* Hover */
a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
}

/* Button */
.black-button {
    background-color: #23282e;
    color: white;
    font-weight: 600;
    border: white solid 1px;
    padding: 12px 22px;
    border-radius: 20px;
    cursor: pointer;
}

.black-button:hover {
    background-color: #2b44ff;
}

/* Banner */
.banner-block {
    font-size: 4rem;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 4rem 1rem;
}

/* Offering */
.offering-block {
    background-color: white;
    padding: 3rem 12rem 5rem 12rem;
    display: flex;
}

.text-container {
    flex-direction: column;
}

.image-container {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10rem;
}

img {
    margin: 0 auto;
    height: 100%;
    width: auto;
    background-color: #2b44ff;
  }

/* Program */
.program-block {
    background-color: #f4f3e8;
    text-align: center;
    padding: 4rem;
}

.text-card-container {
    display: flex;
    justify-content: center;
}

.text-card {
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem;
}

.red-border {
    border: #FF0000 3px solid;
}

.orange-border {
    border: #FF5924 3px solid;
}

.yellow-border {
    border: #FFD300 3px solid;
}

.pink-border {
    border: #f88f8f 3px solid;
}

/* Cost */
.cost-block {
    background-color: #f4f3e8;
    text-align: center;
    padding: 4rem;
}

/* Apply */
.apply-block {
    background-color: white;
    text-align: center;
    padding: 4rem;
}

/* Checkout */
.checkout-block {
    background-color: white;
    text-align: center;
    padding: 4rem;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 2rem;
}